*{
    margin: 0;
    padding: 0;
}
.body{
    background-color: rgb(43, 4, 80);
}
.top{
    margin: 0;
    background-color:rgb(245, 244, 244);
    height: 80px;
    width: 100%;
    justify-content: space-between;
    display: flex;
}
.top img{
    height: 60px;
    width: 110px;
    margin-top: 15px;
    margin-left: 10px;
}
.top button{
    margin: 25px;
    border: none;
    height: 30px;
    width: 100px;
    background-color:rgb(43, 4, 80);
    border-radius: 3%;
}
.top button a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}
.top button:hover{
    background-color:rgb(140, 12, 226);
}
.a{
    /*background-color: rgb(172, 237, 233);*/
    background-color: whitesmoke;
}
.t{
    padding-top: 50px;
    margin-left: 60px;
    margin-right: 50px;
}
ol{
    margin-left: 90px;
    margin-right:20px;
}
ol li{
    padding-top: 15px;
    margin-right: 20px;
    font-size: 30px;
    font-weight: bold;
    color:black;
}
ol li p{
    font-size: 18px;
    font-weight: normal;
    color:black;
}
.bottom{
    background-color: rgb(43, 4, 80);
    width: 100%;
    height: 400px;
}
.bottom img{
    height: 50px;
    margin-top: 20px;
    margin-left: 20px;
}
.left{
    position: absolute;
    left: 40%;
}
.middle{
    position: absolute;
    left: 60%;
}
.right{
    position: absolute;
    left: 80%;
}
.left ul,.middle ul,.right ul{
    list-style: none;
}
.left ul li ,.middle ul li,.right ul li{
   padding: 3px;
}
.left ul li a,.middle ul li a,.right ul li a{
    text-decoration: none;
    color: rgb(203, 200, 195);
}
.left ul li a:hover,.right ul li a:hover,.middle ul li a:hover{
    color: red;
    font-size: 18px;
}
.bottom p{
    margin-top: 260px;
    width: 80%;
    margin-left: 10%;
    color:rgb(203, 200, 195);
}