*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.top{
    background-color:rgb(245, 244, 244);
    height: 80px;
    width: 100%;
    justify-content: space-between;
    display: flex;
}
.top img{
    height: 50px;
    width: 100px;
    margin-top: 15px;
    margin-left: 10px;
}
.mid{
    height: 250px;
    width: 100%;
    background-color: rgb(172, 237, 233);
}
.mid h1{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 10px;
}
.mid h2,h3{
    text-align: center;
    padding: 10px;
    font-weight: normal;
    font-size: 20px;
}

.form{
    display: block;
    position: absolute;
}
input[type="text"],input[type="email"]{
    display: block;
    box-sizing: border-box;
    width: 50%;
    height: 40px;
    margin-left: 25%;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 5px;
    transition: 0.2s ease;
    font-size: 16px;
    color: black;
}
input[type="submit"]{
    width: 200px;
    height: 40px;
    margin-left: 45%;
    background-color: rgb(43, 4, 80);
    color: white;
    font-size: 18px;
    border-radius: 3%;
}
input[type="submit"]:hover{
    background-color: rgb(140, 12, 226);
}
.top button{
    margin: 25px;
    border: none;
    height: 30px;
    width: 100px;
    background-color:rgb(43, 4, 80);
    border-radius: 3%;
}
.top button a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}
.top button:hover{
    background-color:rgb(140, 12, 226);
}
.bottom{
    background-color: rgb(43, 4, 80);
    width: 100%;
    height: 400px;
    margin-top: 60px;
}
.bottom img{
    height: 50px;
    margin-top: 20px;
    margin-left: 20px;
}
.left{
    position: absolute;
    left: 30%;
}
.middle{
    position: absolute;
    left: 50%;
}
.right{
    position: absolute;
    left: 75%;
}
.left ul,.middle ul,.right ul{
    list-style: none;
}
.left ul li ,.middle ul li,.right ul li{
   padding: 3px;
}
.left ul li a,.middle ul li a,.right ul li a{
    text-decoration: none;
    color: rgb(203, 200, 195);
}
.left ul li a:hover,.right ul li a:hover,.middle ul li a:hover{
    color: red;
    font-size: 18px;
}
.bottom.p{
    color:white;
}
.p p{
    margin-top: 260px;
    width: 80%;
    margin-left: 10%;
    color:rgb(203, 200, 195);
}