body{
    background-color: rgb(172, 237, 233);
    font-family: sans-serif;
}
.sign_up{
    width:360px;
    height:550px;
    background-color: white;
    margin: auto;
    margin-top: 100px;;
    border-radius: 4px;
}
h1{
    text-align: center;
    padding-top: 15px;
}
form{
    width: 300px;
    margin-left: 20px;
}
form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}
form input{
    width: 100%;
    padding: 7px;
    border: 1px solid gray;
    border-radius: 3px;
    outline: none;
}
input[type="submit"]{
    width: 150px;
    height: 45px;
    margin-top: 20px;
    margin-left: 85px;
    background-color: rgb(43, 4, 80);
    color: white;
    font-size: 18px;
}
input[type="submit"]:hover{
    background-color:  rgb(140, 12, 226);
}
.sign_up p{
    font-size: 18px;
    text-align: center;
}