*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
*:focus{
    outline: none;
}
body{
    box-sizing: border-box;
    font-family: sans-serif;
}
.titlebar{
    background-color:rgb(245, 244, 244);
    height: 80px;
    width: 100%;
    justify-content: space-between;
    display: flex;
}
.titlebar ul li{
    position: absolute;
    right: 2%;
    display: inline-block;
    list-style: none;
    margin-top: 10px;
}
.titlebar ul li a{
    text-decoration: none;
    color: white;
}
.b1{
    margin-right: 85px;
    margin-top: 9px;
    width: 110px;
    height: 42px;
    background-color:rgb(43, 4, 80);
    font-weight: bold;
    border-radius: 5%;
    font-size: 18px;
    padding: 5px;
    overflow: hidden;

}

.b2
{
    margin-top: 9px;
    width: 75px;
    height: 42px;
    font-weight: bold;
    border-radius: 5%;
    font-size: 18px;
    background-color:rgb(43, 4, 80);
}
.titlebar img{
    height: 60px;
    width: 110px;
    margin-top: 15px;
    margin-left: 10px;
}
.titlebar ul li .b1:hover{
    background-color: rgb(140, 12, 226);
}
.titlebar ul li .b2:hover{
    background-color: rgb(140, 12, 226);
}
.menubar{
    overflow: hidden;
    position: fixed;
    top: 0;
    background-color: rgb(43, 4, 80);
    height: 60px;
    width: 100%;
    text-align: center;
}
.menubar ul{
    width: 100%;
    height: 60px;
    display: inline-flex;
    list-style: none;
}
.menubar ul li{
    width: 12%;
    padding: 15px;
}
.menubar ul li a{
    text-decoration: none;
    color: white;
    font-size: large;
}
.menubar ul li:hover{
    background: rgb(140, 12, 226);
}
.menubar{
    position: -webkit-sticky; /* Safari */
    position: sticky;
}
.search{
    background-color: rgb(172, 237, 233);
    width: 100%;
    height: 300px;
    border-bottom-left-radius: 60%;
    border-bottom-right-radius: 60%;
}
.search h1{
    margin-left: 28%;
    margin-right: 28%;
    padding-top: 35px;
    font-size: 30px
}
.searchbar{
    display: flex;
    margin-top: 50px;
    margin-left: 25%;
}
.searchbar input,select{
    height: 56px;
    width: 30%;
    font-size: 20px;
    text-align: center;
}
#category{
    border: none;
    border-right: 1px dashed;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 65px;
}
#location{
    border: none;
    height: 65px;
    border-left: 1px dashed;
    border-right: 1px dashed;
}
#icon{
    width: 75px;
    height: 65px;
    background-color: white;
    border: none;
    border-left: 1px dashed;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#icon:hover{
    background-color: rgb(221, 220, 220);
    border: 1px solid;
}

.job{
    height: 250px;
    margin-top: 75px;
    width: 80%;
    display: flex;
    margin-left: 20%;
}
.job img{
    height: 180px;
    margin-right: 20px;
}
.bottom{
    background-color: rgb(43, 4, 80);
    width: 100%;
    height: 400px;
    margin-top: 60px;
}
.bottom img{
    height: 50px;
    margin-top: 20px;
    margin-left: 20px;
}
.left{
    position: absolute;
    left: 30%;
}
.middle{
    position: absolute;
    left: 50%;
}
.right{
    position: absolute;
    left: 75%;
}
.left ul,.middle ul,.right ul{
    list-style: none;
}
.left ul li ,.middle ul li,.right ul li{
   padding: 3px;
}
.left ul li a,.middle ul li a,.right ul li a{
    text-decoration: none;
    color: rgb(203, 200, 195);
}
.left ul li a:hover,.right ul li a:hover,.middle ul li a:hover{
    color: red;
    font-size: 18px;
}
.bottom p{
    margin-top: 260px;
    width: 80%;
    margin-left: 10%;
    color:rgb(203, 200, 195);
}

